<div class="top-bar">
    <div class="container--max-width">
      <div class="top-bar-left"><p><a class="top-bar-link" href="https://www.elektroshopwagner.de/">Zurück zum Shop</a></p></div>
      <div class="top-bar-middle"><p>Über 51.000 Artikel rund um Haus und Elektronik</p></div>
      <div class="top-bar-right"><p>Über 650.000 zufriedene Kunden</p></div>
    </div>
</div>
<header class="header">
  <div class="logo">
    
      <a href="https://www.elektroshopwagner.de"><img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}"></a> 
    
  </div>
 
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    
  </div>
</header>