/***** Header *****/
$header-height: 120px;

.header {
  @include max-width-container;
  position: relative;
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
 
  
  
}

div .logo {width: 33.3333333333%;}

.logo img {
  max-height: 70px;
}

.user-nav {
  @include tablet { position: relative; }
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  

  &[aria-expanded="true"] {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15), 0 4px 10px 0 rgba(0, 0, 0, .1);
    border: solid 1px #ddd;
    right: 0;
    left: 0;
    top: $header-height;
    z-index: 1;

    > a {
      display: block;
      margin: 20px;
    }
  }
}

.nav-wrapper {
  a {
    @include tablet {
      display: inline-block;
    }

    border: 0;
    color: $link_color;
    display: none;
    font-size: 14px;
    padding: 0 20px 0 0;
    width: 33.3333333333%;

    [dir="rtl"] & { padding: 0 0 0 20px;}

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $link_color;
      text-decoration: underline;
    }

    &.login { display: inline-block; }
  }

  .icon-menu {
    @include tablet { display: none; }
    border: 0;
    color: $link_color;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    width: auto;

    [dir="rtl"] & {
      margin-left: 10px;
      margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $link_color;
    }
  }
}

.top-bar {
  
  background-color: $top-bar-color;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: $brand_text_color;
  height: 2.8em;

  > .container--max-width{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 87em;
    margin-left: auto;
    margin-right: auto;


  }  
    > div {
      text-align: center;

      p {text-transform: uppercase; font-size: 0.8em;}

   
  }

  
  .top-bar-middle { @include tablet { display: block;} display: none;}
  .top-bar-right { @include tablet { display: block; } display: none;}
  .top-bar-left a::before {transform: rotate(180deg);content:""; width: 20px; height: 20px; margin: -2px -29px; position: absolute; background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Elogout%3C/title%3E%3Cpath class='cls-1' d='M12,24a11.7,11.7,0,0,1-4.5-.9A11.8,11.8,0,0,1,.9,16.7c-.1-.2.1-.5.3-.7h.2a.5.5,0,0,1,.5.3,10.9,10.9,0,0,0,6,5.9A11.5,11.5,0,0,0,12,23a10.7,10.7,0,0,0,4.3-.9A10.9,10.9,0,0,0,22.1,7.7,10.9,10.9,0,0,0,12,1a10.7,10.7,0,0,0-4.3.9A11,11,0,0,0,1.9,7.7a.5.5,0,0,1-.5.3H1.2a.6.6,0,0,1-.3-.7A12,12,0,0,1,7.3,1,11,11,0,0,1,12,0a12,12,0,0,1,4.7,23.1A12.7,12.7,0,0,1,12,24Z' transform='translate(0 0)'/%3E%3Cpath class='cls-1' d='M12.5,16.5h-.4a.5.5,0,0,1,0-.7l3.2-3.2H.5a.5.5,0,0,1,0-1H15.3L12.1,8.4a.5.5,0,0,1,0-.7l.4-.2.4.2,4,4a.1.1,0,0,0,.1.1v.6l-4,4Z' transform='translate(0 0)'/%3E%3C/svg%3E");}
}