/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  border-top: 12px solid transparent;
  border-color: $brand_color;
  border-image-slice: 1;
  

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }
}
